doctype html
html(lang='fr')
  include layout/head
  body
    include layout/header
    section.container-fluid
      .row
        .col-3
          include layout/main-menu
        .col-12
          h1
            | Title Page n°2
          h2
            | Site demo here n°2
            span#showEnv
          p 
            | Loremms n°2
          i.icon-home
          a(href='index.html') index
    include layout/footer
    include layout/scripts
